html {
    width: 1200px;
    font-size: 16px;
}

header {
    background-color: #cccccc;
    background-image: url(../img/flywheel.jpeg);
    background-size: cover;
    height: 200px;
}

body {
    padding: 2%;
    margin: 2px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffffff;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    background-color: rgb(211, 211, 211, .5);
    color: #000000;
    text-align: center;
    font-size: 20px;
    width: 15%;
    height: 30%;
    padding: 10px;
    text-decoration: none;
    border-radius: 10%;
}

main {
    display: flex;
    justify-content: flex-start;
    
}
img {
    width: 80%;
    margin: 10px 20px 5px 20px;
    border: #000000 solid 1px;
}

/* Nav Button Styling */

.active {
    background-color: #ffffff;
    color: #0130ff;
}

.btn:hover {
    background-color: #faebd7;
    color: #0130ff; 
}

.left {
    background-color: #5a742b;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.right {
    margin: 1%;
    font-size: 1em;
}


/* Table Styles */
table {
    display: block;
    margin: 5% 10% 0% 10%;
}

table th{
    font-family: Arial, "Times New Roman", serif;
    font-size: 1.2em;
    height: 50px;
    color: #ffffff;
    
    background: linear-gradient(#d2f78f 0%, #5a742b 100%);
    border-bottom: #b4fc2e solid 3px;
    border-radius: 10% 10% 0 0;
}

.team {
    text-align: left;
    padding-left: 10px;
    width: 400px;
}

.location, .league {
    width: 150px;
    text-align: center;
}

tr {
    background: hsla(83, 37%, 65%, 0.6);
    height: 50px;
    width: 350px;
}

tr:hover {
    background:hsla(83, 37%, 65%, 0.8)
}

td:first-child {
    text-align: left;
}

td {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    text-align: center;
    padding-left: 10px;
}